body {
    margin: 0;
    font-family: sans-serif;
}

#hero-image {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../media/Summer\ Home\ full.jpg') no-repeat center center;
}
footer {
    height: 150px;
    }

.footer-icons {
    text-align:center;
    }

.footer-icons > li {
        display: inline;
    }

    .footer-icons i {
        font-size: 160%;
        margin: 1%;
        padding: 10%;
        color:black;

    }